#Se o arquivo começa com _ ele é uma Partials, que deixa ele ser importado para outra página
<ul>
    <%# <li>
        <a href="/coins">Cadastro de moedas</a>
    </li>  %>
    <li>
        <%= link_to "Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Tipos de Mineração", mining_types_path %>
    </li>
</ul>